.margin-default-signup-super {
    margin-top: 100px;
}

.parsley-errors-list .parsley-required{
    color: red;
    display: block;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    color: red;
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;

    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}

body {
    color: #676a6c;
    /*color: #676a6c;*/
    background: #2A3F54;
    font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471
}
footer {
    background: #DFDFDF;
    padding: 7px 20px;
    display: block;
    border-top: 1px solid #e7eaec;
}
.nav-sm footer {
    margin-left: 70px
}
.footer_fixed footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.sidebar-footer {
    bottom: 0;
    clear: both;
    display: block;
    padding: 5px 0 0;
    position: fixed;
    width: 210px;
    background: #2A3F54;
    z-index: 999
}

.sidebar-footer a {
    padding: 7px 0 3px;
    text-align: center;
    width: 25%;
    font-size: 17px;
    display: block;
    float: left;
    background: #172D44;
    cursor: pointer
}

.sidebar-footer a:hover {
    background: #425567
}
@media (min-width: 768px) {
    .footer_fixed .nav-sm footer, .footer_fixed footer {
        margin-left: 0
    }
}
@media (min-width: 992px) {
    footer {
        margin-left: 210px
    }
}
.container {
    width: 100%;
    padding: 0
}
body .container.body .right_col {
    background: #ffffff;
}
/** START nav **/
.top_nav .nav .open > a, .top_nav .nav .open > a:focus, .top_nav .nav .open > a:hover, .top_nav .nav > li > a:focus, .top_nav .nav > li > a:hover {
    background: #D9DEE4
}
.navbar {
    margin-bottom: 0
}
.navbar-header {
    background: #34495E
}
.navbar-right {
    margin-right: 0
}
.nav_title {
    width: 210px;
    float: left;
    background: #2A3F54;
    border-radius: 0;
    height: 57px
}
.main_container .top_nav {
    display: block;
    margin-left: 210px
}
.nav_menu {
    float: left;
    /*background: #EDEDED;*/
    background: #DFDFDF;
    border-bottom: 1px solid #D9DEE4;
    margin-bottom: 10px;
    width: 100%;
    position: relative
}
.top_nav .navbar-right {
    margin: 0;
    width: 70%;
    float: right
}
.top_nav .navbar-right li {
    display: inline-block;
    float: right;
    position: static
}
@media (min-width: 480px) {
    .top_nav .navbar-right li {
        position: relative
    }
}
.top_nav .dropdown-menu li {
    width: 100%
}
.top_nav .dropdown-menu li a {
    width: 100%;
    padding: 12px 20px
}
.top_nav li a i {
    font-size: 15px
}
.navbar-static-top {
    position: fixed;
    top: 0;
    width: 100%
}
.sidebar-header {
    border-bottom: 0;
    margin-top: 46px
}
.sidebar-header:first-of-type {
    margin-top: 0
}
.nav.side-menu > li {
    position: relative;
    display: block;
    cursor: pointer
}
.nav.side-menu > li > a {
    margin-bottom: 6px
}
.nav.side-menu > li > a:hover {
    color: #F2F5F7 !important
}
.nav.side-menu > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background: 0 0
}
.nav.child_menu {
    display: none
}
.nav.child_menu li.active, .nav.child_menu li:hover {
    background-color: rgba(255, 255, 255, .06)
}
.nav.child_menu li {
    padding-left: 36px
}
.nav.top_menu > li > a, .nav > li > a {
    position: relative;
    display: block
}
.nav.child_menu > li > a, .nav.side-menu > li > a {
    color: #E7E7E7;
    font-weight: 500
}
.nav li li.current-page a, .nav.child_menu li li a.active, .nav.child_menu li li a:hover {
    color: #fff
}
.nav.child_menu li li.active, .nav.child_menu li li:hover {
    background: 0 0
}
.nav > li > a {
    padding: 13px 15px 12px
}
.nav.side-menu > li.active, .nav.side-menu > li.current-page {
    border-right: 5px solid #43BB9B
}
.nav li.current-page {
    background: rgba(255, 255, 255, .05)
}
.nav li li li.current-page {
    background: 0 0
}
.navbar-brand, .navbar-nav > li > a, .site_title {
    color: #ECF0F1 !important;
    margin-left: 0 !important
}
.nav.side-menu > li.active > a {
    text-shadow: rgba(0, 0, 0, .25) 0 -1px 0;
    background: linear-gradient(#334556, #2C4257), #2A3F54;
    box-shadow: rgba(0, 0, 0, .25) 0 1px 0, inset rgba(255, 255, 255, .16) 0 1px 0
}
.navbar-brand, .navbar-nav > li > a {
    font-weight: 500;
    /*line-height: 32px*/
}
.nav-sm footer {
    margin-left: 70px
}
.nav.navbar-nav > li > a {
    color: #515356 !important
}
.nav.top_menu > li > a {
    padding: 10px 15px;
    color: #34495E !important
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent
}
.nav.child_menu > li > a {
    color: rgba(255, 255, 255, .75);
    font-size: 12px;
    padding: 9px
}
@media (min-width: 480px) {
    .nav_menu {
        position: static
    }
}
/** END nav **/
/** START nav-md **/
.nav-md .container.body .col-md-3.left_col {
    min-height: 100%;
    width: 210px;
    padding: 0;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    z-index: 1
}
.nav-md .container.body .col-md-3.left_col.menu_fixed {
    height: 100%;
    position: fixed
}
.nav-md .container.body .right_col {
    padding: 10px 10px 0;
    margin-left: 210px
}
.nav-md ul.nav.child_menu li:before {
    background: #425668;
    bottom: auto;
    content: "";
    height: 8px;
    left: 23px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    border-radius: 50%
}
.nav-md ul.nav.child_menu li:after {
    border-left: 1px solid #425668;
    bottom: 0;
    content: "";
    left: 27px;
    position: absolute;
    top: 0
}
/** END nav-md **/

/** START nav-sm **/
.nav-sm .container.body .col-md-3.left_col {
    min-height: 100%;
    width: 70px;
    padding: 0;
    z-index: 9999;
    position: absolute
}
.nav-sm .container.body .col-md-3.left_col.menu_fixed {
    position: fixed;
    height: 100%
}
.nav-sm .container.body .col-md-3.left_col .mCSB_container, .nav-sm .container.body .col-md-3.left_col .mCustomScrollBox {
    overflow: visible
}
.overflow_hidden, .sidebar-widget, .site_title, .tile, .weather-days .col-sm-2{
    overflow: hidden
}
.nav-sm .hidden-small {
    visibility: hidden
}
.nav-sm .container.body .right_col {
    padding: 10px 20px;
    margin-left: 70px;
    z-index: 2
}
.nav-sm .navbar.nav_title {
    width: 70px
}
.nav-sm .navbar.nav_title a span {
    display: none
}
.nav-sm .navbar.nav_title a i {
    font-size: 27px;
    margin: 13px 0 0 3px
}
.site_title i {
    border: 1px solid #EAEAEA;
    padding: 5px 6px;
    border-radius: 50%
}
.nav-sm .main_container .top_nav {
    display: block;
    margin-left: 70px;
    z-index: 2
}
.nav-sm .nav.side-menu li a {
    text-align: center !important;
    font-weight: 400;
    font-size: 10px;
    padding: 10px 5px
}
.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {
    border-right: 5px solid #43BB9B
}
.nav-sm .nav.side-menu li.active-sm ul ul, .nav-sm ul.nav.child_menu ul {
    position: static;
    width: 200px;
    background: 0 0
}
.nav-sm > .nav.side-menu > li.active-sm > a {
    color: #43BB9B !important
}
.nav-sm .nav.side-menu li a i.toggle-up {
    display: none !important
}
.nav-sm .menu_section h3, .nav-sm .profile, .nav-sm .menu_section span.fa {
    display: none
}
.nav-sm .nav.side-menu li a i {
    font-size: 13px !important;
    text-align: center;
    width: 100% !important;
    margin-bottom: 5px
}
.nav-sm ul.nav.child_menu {
    left: 100%;
    position: absolute;
    top: 0;
    width: 150px;
    z-index: 4000;
    background: #3E5367;
    display: none;
    border-right: 5px solid #43BB9B;
}
.nav-sm ul.nav.child_menu li {
    padding: 0 10px
}
.nav-sm ul.nav.child_menu li a {
    text-align: left !important
}
.nav-sm .menu_section {
    margin: 0
}
.nav-sm li li span.fa {
    display: inline-block
}
.nav-md ul.nav.child_menu li:hover:before,
.nav-md ul.nav.child_menu li.current-page:before{
    background-color: #43BB9B;
}
.nav.child_menu > li > a {
    color: rgba(255, 255, 255, .75);
    font-size: 12px;
    padding: 9px;
    padding-top: 12px;
}
/** END nav-sm **/
/** START main-manu **/
.main_menu_side {
    padding: 0
}
.menu_section {
    margin-bottom: 35px
}
.menu_section h3 {
    padding-left: 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 700;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 1px 1px #000
}
.menu_section > ul {
    margin-top: 10px
}
.main_menu span.fa {
    float: right;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
    min-width: inherit;
    color: #C4CFDA
}
.navbar-nav .open .dropdown-menu {
    position: absolute;
    background: #fff;
    margin-top: 0;
    border: 1px solid #D9DEE4;
    -webkit-box-shadow: none;
    right: 0;
    left: auto;
    width: 220px
}
.navbar-nav .open .dropdown-menu.msg_list {
    width: 300px
}
.detail a, .expand, .jqstooltip, .paging_full_numbers a:hover, .site_title:focus, .site_title:hover, a, a:focus, a:hover {
    text-decoration: none
}
.site_title {
    font-weight: 400;
    font-size: 22px;
    width: 100%;
    line-height: 59px;
    display: block;
    height: 55px;
    margin: 0;
    padding-left: 10px;
    text-overflow: ellipsis
}
@media (min-width: 768px) {
    .footer_fixed .nav-sm footer, .footer_fixed footer {
        margin-left: 0
    }
}
.left_col {
    background: #2A3F54
}
.nav.toggle {
    float: left;
    margin: 0;
    padding-top: 10px;
    width: 70px
}

.nav.toggle a {
    padding: 0 15px 0;
    margin: 0;
    cursor: pointer;
    color: #2A3F54;
}

.nav.toggle a i {
    font-size: 26px
}
@media (max-width: 991px) {
    .nav-md .container.body .right_col, .nav-md .container.body .top_nav {
        width: 100%;
        margin: 0
    }
    .nav-md .container.body .col-md-3.left_col {
        display: none
    }
    .nav-md .container.body .right_col {
        width: 100%;
        padding-right: 0
    }
    .right_col {
        padding: 10px !important
    }
}
.margin-default-signup-super {
    margin-top: 100px;
}
.login-panel {
    margin: auto;
    width: 500px;
}
.container-content {
    margin: 0 15px;
}
.pagination-arrow {
    font-size: 21px;
    font-weight: bold;
    padding: 0 10px!important;
}