
#wrapper {
  width: 100%;
  background-color: #546677;
  overflow-x: hidden;
}
#page-wrapper {
  padding: 0 20px;
  min-height: 568px;
  background-color: #fff;
  position: relative !important;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 160px;
    min-height: 879px;
  }
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 160px;
    margin-top: 51px;
    background-color: #546677;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
  .nav.nav-second-level > li,
  .nav.nav-second-level > li.active {
    border: none;
    margin-left: -10px;
  }
  h4.detail-section {
    margin: 10px 0px 15px 0px !important;
    font-size: 15px;
    color: #666 !important;
    font-weight: bold !important;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
  }
}
@media (min-width: 992px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 180px;
    min-height: 899px;
  }
  ul.pagination {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 180px;
    margin-top: 51px;
    background-color: #546677;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
  h4.detail-section {
    margin: 10px 0px 15px 0px !important;
    font-size: 18px;
    color: #666 !important;
    font-weight: bold !important;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
  }
}
/* -- START Navbar top -- */
.navbar-default {
  background-color: transparent;
  border-color: #2f4050;
}
.navbar-static-top {
  background: #2f4050;
}
.navbar-brand {
  font-weight: 700;
  color: #fff !important;
}
.navbar-top-links.navbar-right .dropdown .dropdown-toggle {
  border-color: #2f4050;
}
.navbar-top-links.navbar-right .dropdown.open .dropdown-toggle,
.navbar-top-links.navbar-right .dropdown .dropdown-toggle:hover{
  background: #286090;
}
.navbar-top-links.navbar-right .dropdown .dropdown-toggle > i,
.navbar-top-links.navbar-right .dropdown .dropdown-toggle:hover > i{
  color: #fff;
  font-size: 13px;
}
.navbar-top-links.navbar-right .dropdown .dropdown-menu.dropdown-user{
  background-color: #546677;
  border: 2px solid #546677;
  border-radius: 0;
  /*color: #fff !important;*/
}
.navbar-top-links.navbar-right .dropdown .dropdown-menu.dropdown-user > li :hover{
  background: #286090;
}
.navbar-top-links.navbar-right .dropdown .dropdown-toggle > a > i,
.navbar-top-links.navbar-right .dropdown .dropdown-menu.dropdown-user > li > a{
  color: #fff !important;
}
.navbar-top-links {
  margin-right: 0;
}
.navbar-top-links li {
  display: inline-block;
}
.navbar-top-links li:last-child {
  margin-right: 15px;
}
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
/* -- END Navbar top -- */

/* -- START Sidebar top -- */
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .sidebar-nav ul li,
.sidebar .sidebar-nav ul li a {
  font-size: 13px;
  font-weight: 700;
  color: #DDDDDD;
  /*color: #a7b1c2;*/
}
.sidebar ul li.active{
  border-left: 4px solid #19aa8d;
}
.nav.nav-second-level > li.active {
  border: none;
}
.sidebar ul li a:hover,
/*.sidebar ul li a:after,*/
.sidebar ul li a.active {
  background-color: #86929D;
  color: #DDDDDD;
}
.sidebar ul li {
  border-bottom: 1px solid #AAAAAA;
}
.sidebar .arrow {
  float: right;
  font-size: 15px;
  font-weight: 900;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 35px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}
/* -- END Sidebar top -- */

/* -- START Box -- */
.form-control,
.form-control:focus,
.has-error .form-control:focus,
.has-success .form-control:focus,
.has-warning .form-control:focus,
.navbar-collapse,
.navbar-form,
.navbar-form-custom .form-control:focus,
.navbar-form-custom .form-control:hover,
.open .btn.dropdown-toggle,
.panel,
.popover,
.progress,
.progress-bar {
  box-shadow: none;
}
/* -- END Box -- */

/* -- START Body -- */
body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #676a6c;
  /*color: #fff;*/
  overflow-x: hidden;
}
/* -- END Body -- */

/* -- START Panel -- */

/* -- END Panel -- */

/* -- START Button -- */
.btn-primary.btn-outline {
  color: #4DDC82;
}
.btn-success.btn-outline {
  color: #1c84c6;
}
.btn-info.btn-outline {
  color: #23c6c8;
}
.btn-warning.btn-outline {
  color: #f8ac59;
}
.btn-danger.btn-outline {
  color: #ed5565;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}
.btn-primary {
  background-color: #1c84c6;
  border-color: #1c84c6;
  color: #FFFFFF;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
  background-color: #1c84c6;
  border-color: #1c84c6;
  color: #FFFFFF;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary.active[disabled] {
  background-color: #1c84c6;
  border-color: #1c84c6;
}
.btn-success {
  background-color: #4DDC82;
  border-color: #4DDC82;
  color: #FFFFFF;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-success.active:hover,
.btn-success.active:focus {
  background-color: #4DDC82;
  border-color: #4DDC82;
  color: #FFFFFF;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success.active[disabled] {
  background-color: #4DDC82;
  border-color: #4DDC82;
}
.btn-info {
  background-color: #23c6c8;
  border-color: #23c6c8;
  color: #FFFFFF;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info,
.btn-info:active:focus,
.btn-info:active:hover,
.btn-info.active:hover,
.btn-info.active:focus {
  background-color: #21b9bb;
  border-color: #21b9bb;
  color: #FFFFFF;
}
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled]:active,
.btn-info.active[disabled] {
  background-color: #26d7d9;
  border-color: #26d7d9;
}
.btn-default {
  color: inherit;
  background: white;
  border: 1px solid #e7eaec;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default.active:hover,
.btn-default.active:focus {
  color: inherit;
  border: 1px solid #d2d2d2;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}
.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default.active[disabled] {
  color: #cacaca;
}
.btn-warning {
  background-color: #f8ac59;
  border-color: #f8ac59;
  color: #FFFFFF;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning,
.btn-warning:active:focus,
.btn-warning:active:hover,
.btn-warning.active:hover,
.btn-warning.active:focus {
  background-color: #f7a54a;
  border-color: #f7a54a;
  color: #FFFFFF;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:active,
.btn-warning.active[disabled] {
  background-color: #f9b66d;
  border-color: #f9b66d;
}
.btn-danger {
  background-color: #ed5565;
  border-color: #ed5565;
  color: #FFFFFF;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger,
.btn-danger:active:focus,
.btn-danger:active:hover,
.btn-danger.active:hover,
.btn-danger.active:focus {
  background-color: #ec4758;
  border-color: #ec4758;
  color: #FFFFFF;
}
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:active,
.btn-danger.active[disabled] {
  background-color: #ef6776;
  border-color: #ef6776;
}
/* -- END Button -- */

/* -- START H -- */
h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
h3, h4, h5 {
  margin-top: 5px;
  font-weight: 600;
}
/* -- END H -- */

/* -- START Span -- */
span.selected {
  display: block;
  background-image: none;
  float: right;
  position: absolute;
  right: 0px;
  top: 8px;
  background: none;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #ffffff;
}
/* -- END Span -- */

/* -- START Pagination -- */
.pagination_button.previous > a,
.pagination_button.next > a,
.pagination_button > a {
  color: #676a6c !important;
  font-weight: 500;
  border-radius: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.pagination_button.active > a {
  color: #fff !important;
  background-color: #86929D !important;
  border-color: #ddd;
  font-weight: 500;
  border-radius: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
/* -- END Pagination -- */

/* -- START alert -- */
.alert {
  border-left: 2px solid #19aa8d;
}
.alert > p {
  font-size: 12px;
  font-weight: 700;
}
/* -- END alert -- */

/* -- START Label -- */
.label {
  background-color: #d1dade;
  color: #5e5e5e;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  padding: 3px 8px;
  text-shadow: none;
}
.nav .label,
.box .label {
  font-size: 10px;
}
.badge {
  background-color: #d1dade;
  color: #5e5e5e;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 600;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  text-shadow: none;
}
.badge--category-01,
.label-category-01 {
  background-color: #4F5D7D;
  color: #FFFFFF;
}
.badge--category-02,
.label-category-02 {
  background-color: #6F4F7D;
  color: #FFFFFF;
}
.badge--category-03,
.label-category-03 {
  background-color: #7D4F5D;
  color: #FFFFFF;
}
.badge--category-04,
.label-category-04 {
  background-color: #7D6F4F;
  color: #FFFFFF;
}
.badge--category-05,
.label-category-05 {
  background-color: #4F7D6F;
  color: #FFFFFF;
}
.label-primary,
.badge-primary {
  background-color: #1c84c6;
  color: #FFFFFF;
}
.label-success,
.badge-success {
  background-color: #4DDC82;
  color: #FFFFFF;
}
.label-warning,
.badge-warning {
  background-color: #f8ac59;
  color: #FFFFFF;
}
.label-warning-light,
.badge-warning-light {
  background-color: #f8ac59;
  color: #ffffff;
}
.label-danger,
.badge-danger {
  background-color: #ed5565;
  color: #FFFFFF;
}
.label-info,
.badge-info {
  background-color: #23c6c8;
  color: #FFFFFF;
}
.label-inverse,
.badge-inverse {
  background-color: #262626;
  color: #FFFFFF;
}
.label-white,
.badge-white {
  background-color: #FFFFFF;
  color: #5E5E5E;
}
.label-white,
.badge-disable {
  background-color: #2A2E36;
  color: #8B91A0;
}
/* -- END Table -- */
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: #428bca;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: white;
}
.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}
.panel-yellowish-brown {
  border-color: #f09661;
}
.panel-yellowish-brown > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f09661;
}
.panel-yellowish-brown > a {
  color: #f09661;
}
.panel-yellowish-brown > a:hover {
  color: #de844f;
}
.huge {
  font-size: 40px;
}
